# Secret token of the telegram bot used to authenticate users
#
# Example:
# BOT_TOKEN=1234123543:7j0iZRAAKJ2TRIdH-P1_xLB5pacAPiCGrcE

BOT_TOKEN=...

# Example:
# BOT_USERNAME=@my_bot

BOT_USERNAME=...

# Comma-separated list of telegram group ID + slug + human-readable name
# Only users from those groups can access each associated wiki.
#
# Example:
# ALL_GROUPS=-1111222333:slug_of_first_group:Name of first group,-4445556666:slug_of_second_group:Name of second group

ALL_GROUPS=...
