/* Reponsive iframe embeds
* that honor floats using a wrapper div
* */

.embed-wrapper {
  overflow: hidden;

  iframe.embed {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }

  iframe.embed-google-calendar {
    aspect-ratio: 1/1;
  }

  iframe.embed-youtube-playlist,
  iframe.embed-youtube-video {
    aspect-ratio: 16/9;
  }
}

div.embed-page {
  i.embed-page-icon {
    @apply size-4 opacity-75;
  }

  a.embed-page-link {
    @apply text-xs font-bold;
    @apply opacity-60;
    @apply transition-opacity;
    @apply -ml-2;

    &:hover {
      @apply opacity-100;
      @apply no-underline;
    }
  }

  &.embed-page-allowed {
    @apply px-4 pb-4;
    @apply border border-dashed rounded border-slate-400 hover:border-slate-800;
    @apply hover:bg-slate-100;

    a.embed-page-link {
      @apply block;
      @apply text-slate-500 py-2;
    }

    &:hover {
      > a.embed-page-link {
        @apply opacity-80 hover:opacity-100;
      }
    }
  }

  &.embed-page-blocked {
    a.embed-page-link {
      @apply inline;
      @apply line-through;
    }
    span.embed-page-blocked-explanation {
      font-size: 0.7rem;
      @apply ml-2;
      @apply text-slate-400;
      @apply font-bold;
      @apply opacity-0;
      @apply transition-opacity;
    }
    &:hover {
      span.embed-page-blocked-explanation {
        @apply opacity-100;
      }
    }
  }
}
