/* Reponsive iframe embeds
* that honor floats using a wrapper div
* */

.embed-wrapper {
  overflow: hidden;

  iframe.embed {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }

  iframe.embed-google-calendar {
    aspect-ratio: 1/1;
  }

  iframe.embed-youtube-playlist,
  iframe.embed-youtube-video {
    aspect-ratio: 16/9;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}

.prose > .embed-page-allowed:first-child {
  @apply mt-4;
}

div.embed-page {
  .embed-page-icon {
    @apply size-4 opacity-75;
  }

  .embed-page-link {
    @apply text-xs font-bold;
    @apply opacity-20;
    @apply transition-opacity duration-200;
    @apply -ml-2;

    &:hover {
      @apply opacity-100;
      @apply no-underline;
    }
  }

  &.embed-page-allowed {
    @apply pb-4 -mt-[2px];
    @apply border-y-2 border-dashed  border-slate-500/10 hover:border-slate-500 transition-all;

    .embed-page-link {
      @apply block;
      @apply text-slate-700 pb-2 pt-1;
    }

    &:hover {
      > .embed-page-link {
        @apply opacity-80 hover:text-slate-800 hover:opacity-100;
      }
    }
  }

  &.embed-page-blocked {
    .embed-page-link {
      @apply inline;
      @apply line-through;
    }
    .embed-page-blocked-explanation {
      font-size: 0.7rem;
      @apply ml-2;
      @apply text-slate-400;
      @apply font-bold;
      @apply opacity-0;
      @apply transition-opacity;
    }
    &:hover {
      .embed-page-blocked-explanation {
        @apply opacity-100;
      }
    }
  }
}
