@media print {
    body {
        font-family: Georgia, "Times New Roman", Times, serif;
    }

    a[href]:after {
        @apply text-sm text-gray-600;
        content: " (" attr(href) ")";
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        break-after: avoid;
    }

    ul,
    ol {
        break-inside: avoid;
    }
}