.prose p img {
  @apply border-slate-800;
  display: inline-block;
  border-radius: 3px;
}

.prose {
  hr {
    @apply border-slate-400/60 border-t-2 -mx-6;
  }

  a {
    word-wrap: break-word; /* Old, but compatible */
    word-break: break-all; /* Breaks long words */
    overflow-wrap: break-word; /* Modern equivalent */
    white-space: normal; /* Allows wrapping */
  }
}
