.milkdown *:focus {
	outline: none !important;
}

.milkdown-editor-container.editable-true {
	@apply pl-4 min-h-48 border-l-2 border-neutral-content/20;
}

.ProseMirror.editor {
	white-space: pre-wrap;

	> * {
		@apply mb-4;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	ul {
		@apply ml-4 list list-disc;
	}

	.milkdown-list-item-block {
		& > .list-item {
			gap: 8px;
			display: flex;
			align-items: flex-start;
		}

		& > .list-item > .children {
			min-width: 0;
			flex: 1;
		}
	}

	.milkdown-list-item-block .label-wrapper {
		.checked,
		.unchecked {
			@apply size-3 border rounded-full;
			@apply text-transparent;
		}
		.unchecked {
			@apply border-base-content/50;
			@apply bg-base-300/50;
		}
		.checked {
			@apply border-green-600;
			@apply bg-green-600/60;
		}
	}
}

.milkdown-editor-container.editable-true {
	.milkdown-list-item-block .label-wrapper {
		.checked,
		.unchecked {
			@apply cursor-pointer;
		}
	}
}
