.prose p img {
  @apply border-slate-800;
  display: inline-block;
  border-radius: 3px;
}

.prose {
  hr {
    @apply border-slate-400/60 border-t-2 -mx-6;
  }

  a {
    word-wrap: break-word; /* Old, but compatible */
    word-break: break-all; /* Breaks long words */
    overflow-wrap: break-word; /* Modern equivalent */
    white-space: normal; /* Allows wrapping */
  }

  strong {
    @apply text-slate-600;
  }

  h1 {
    @apply text-2xl font-normal;
  }

  h2 {
    @apply text-xl font-normal;
    @apply border-b border-slate-500/40;
    @apply leading-snug pb-2;
  }

  h3 {
    @apply text-lg font-normal;
  }

  h4 {
    @apply text-base font-normal;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  pre {
    @apply whitespace-pre-wrap;
  }
}
